[Unit]
Description=Rsync Runner Service

[Service]
Type=oneshot

#for rsync per file 
ExecStart=%h/scripts/rsync-runner-pf.sh %f

#for rsync all directory
#ExecStart=%h/scripts/rsync-runner-pf.sh
#OnUnitInactiveSec=2s
#RemainAfterExit=yes
